<div class="inbox_people">
    <div class="headind_srch">
        <div class="recent_heading">
            <h4>Recent</h4>
        </div>
        <Search />
    </div>
    <div class="inbox_chat">
        <Chat Preview="Test, which is a new approach to have all solutions astrology under one roof." Name="Sunil Rajput" Date="Dec 25" />
        <Chat Preview="Test, which is a new approach to have all solutions astrology under one roof." Name="Sunil Rajput" Date="Dec 25"/>
        <Chat Preview="Test, which is a new approach to have all solutions astrology under one roof." Name="Sunil Rajput" Date="Dec 25"/>
        <Chat Preview="Test, which is a new approach to have all solutions astrology under one roof." Name="Sunil Rajput" Date="Dec 25"/>
        <Chat Preview="Test, which is a new approach to have all solutions astrology under one roof." Name="Sunil Rajput" Date="Dec 25"/>
        <Chat Preview="Test, which is a new approach to have all solutions astrology under one roof." Name="Sunil Rajput" Date="Dec 25"/>
        <Chat Preview="Test, which is a new approach to have all solutions astrology under one roof." Name="Sunil Rajput" Date="Dec 25"/>
    </div>
</div>

<style>
    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%; border-right: 1px solid #c4c4c4;
    }
    .headind_srch { padding: 10px 29px 10px 20px; overflow: hidden; border-bottom: 1px solid #c4c4c4;}
    .recent_heading {float: left; width: 40%;}
    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }
    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

</style>