<div class="outgoing_msg">
    <div class="sent_msg">
        <p>
            @Text
        </p>
        <span class="time_date">@DateTime</span>
    </div>
</div>

@code
{
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string DateTime { get; set; }
}

<style>
    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }
    .sent_msg {
        float: right;
        width: 46%;
    }
    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0; color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }
</style>