<div class="mesgs">
    <div class="msg_history">
        <MessageIncoming Text="Test which is a new approach to have all solutions" DateTime="11:01 AM | June 9" />
        <MessageOutgoing Text="Test which is a new approach to have all solutions" DateTime="11:01 AM | June 9" />
        <MessageIncoming Text="Test, which is a new approach to have" DateTime="11:01 AM | Yesterday"/>
        <MessageOutgoing Text="Apollo University, Delhi, India Test" DateTime="11:01 AM | Today"/>
        <MessageIncoming Text="We work directly with our designers and suppliers, and sell direct to you, which means quality, exclusive products, at a price anyone can afford." DateTime="11:01 AM | Today"/>
    </div>
    <MessageWrite />
</div>


<style>
    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
    }
    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
</style>