<div class="srch_bar">
    <div class="stylish-input-group">
        <input type="text" class="search-bar" placeholder="Search">
        <span class="input-group-addon">
            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
        </span>
    </div>
</div>

<style>
    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
    }
    .srch_bar input { border: 1px solid #cdcdcd; border-width: 0 0 1px 0; width: 80%; padding: 2px 0 4px 6px; background: none;}
    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }
    .srch_bar .input-group-addon { margin: 0 0 0 -27px; }
</style>