################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rest/Data Access Layer/AppContext.cs
/Rest/Data Access Layer/Data Access Layer.csproj
