@inject AppState AppState

@if(AppState.Authenticated)
{
    @ChildContent
} else
{
    <div class="alert alert-danger">
        <h3>Ingen adgang!</h3>
        Kun brugere som er logget ind har adgang til denne side.
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
