@page "/Resource/Details/{Id:guid}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using AdminPanel.Client.Services
@using AdminPanel.Client.DTOs
@inject IResourceService ResourceService
@inject NavigationManager NavigationManager

@if (_resource != null)
{
    <h3>Detaljer</h3>
    <hr />
    <div class="card" style="width: 30rem;">
        <div class="card-header">
            ID: @_resource.Id
        </div>
        <div class="card-body">
            <ul>
                <li><b>Resource: </b>@_resource.Name</li>
                <li><b>Antal Timeslots: </b>@_resource.Timeslots.Count</li>
            </ul>
        </div>
    </div>
}
else
{
    <h1>Henter ressource...</h1>
    <hr />
    <p>Forsøger at hente den specificerede ressource. Hvis dette tager lang tid, så findes ressourcen muligvis ikke.</p>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    ResourceDTO _resource;

    protected override async Task OnInitializedAsync()
    {
        _resource = await ResourceService.GetFromId(Id);
    }
}
