@page "/Resource/Edit/{Id:guid}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using AdminPanel.Client.Services
@using AdminPanel.Client.DTOs
@inject IResourceService ResourceService
@inject NavigationManager NavigationManager

@if (_resource != null)
{
    <h1>Rediger ressource: @_resource.Name</h1>
    <hr />

    <EditResourceForm Resource="_resource" SubmitButtonText="Gem ressource" OnEditComplete="OnEditComplete" />
}
else
{
    <h1>Henter ressource...</h1>
    <hr />
    <p>Forsøger at hente den specificerede ressource. Hvis dette tager lang tid, så findes ressourcen muligvis ikke.</p>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    ResourceDTO _resource;

    protected override async Task OnInitializedAsync()
    {
        _resource = await ResourceService.GetFromId(Id);
    }

    private async void OnEditComplete(ResourceDTO resource)
    {
        await ResourceService.Update(resource);

        NavigationManager.NavigateTo("/Resource/Details/" + resource.Id.ToString());
    }
}
