@using AdminPanel.Shared
@using AdminPanel.Client.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@page "/Login"
<h1>Log ind</h1>
<hr />

<div class="col-md-6">
    @if (_invalidLogin)
    {
        <div class="alert alert-danger">
            <b>Fejl!</b> De indtastede oplysninger kunne ikke matches til en bruger, eller også har brugeren ikke
            administrator-rettigheder.
        </div>
    }

    <EditForm Model="@_loginDTO" OnValidSubmit="OnValidSubmit">

        <div class="form-group">
            <label>Brugernavn eller E-mail-adresse</label>
            <InputText class="form-control" placeholder="Brugernavn" @bind-Value="_loginDTO.Username" />
        </div>

        <div class="form-group">
            <label>Adgangskode</label>
            <InputText class="form-control" placeholder="********" type="password" @bind-Value="_loginDTO.Password" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Log ind</button>
        </div>

    </EditForm>
</div>


@code {
    private LoginDTO _loginDTO = new LoginDTO();

    private bool _invalidLogin = false;

    private async void OnValidSubmit()
    {
        _invalidLogin = false;

        if(await AuthService.Login(_loginDTO))
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _invalidLogin = true;
        }
    }
}
