@page "/Resource/Edit/{Id:guid}"
@using AdminPanel.Client.DTOs
@using AdminPanel.Client.Services
@attribute [Authorize(Roles = "admin")]
@inject IResourceService ResourceService
@inject NavigationManager NavigationManager

@if (_resource == null)
{
    <Loading />
}
else
{
    <h1>Rediger ressource: @_resource.Name</h1>
    <hr />

    @if (_error)
    {
        <div class="alert alert-danger">
            <b>Der opstod en fejl!</b> Tjek at du har udfyldt alle felter rigtigt, og at tidsperioderne ikke overlapper.
            Problemet kan også skyldes din internetforbindelse.
        </div>
    }

    <EditResourceForm Resource="_resource" SubmitButtonText="Gem ressource" OnEditComplete="OnEditComplete" />
}

@code {

    [Parameter]
    public Guid Id { get; set; }

    ResourceDTO _resource;

    bool _error;

    protected override async Task OnInitializedAsync()
    {
        _resource = await ResourceService.GetFromId(Id);
    }

    private async void OnEditComplete(ResourceDTO resource)
    {
        _error = false;
        StateHasChanged();

        try
        {
            await ResourceService.Update(resource);

            NavigationManager.NavigateTo("Resource/Details/" + resource.Id);
        }
        catch (Exception e)
        {
            _error = true;
            StateHasChanged();
        }
    }

}