@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<AuthorizeView>
    <h1>Instrumentbræt</h1>
    <hr/>
    <p>Velkommen til dit instrumentbræt, @context.User.Identity.Name!</p>
</AuthorizeView>