@using AdminPanel.Client.Models
<div class="footer-chat">
    <InputTextArea class="write-message" placeholder="Type your message here" @bind-Value="Text"></InputTextArea>
    <div class="send clickable" @onclick="@SendClick">
        <i class="fas fa-paper-plane"></i>
    </div>
</div>

@code
{
    public string Text { get; set; }
    [Parameter] public EventCallback<string> SendMessage { get; set; }

    private async Task SendClick()
    {
        await SendMessage.InvokeAsync(Text);
        Text = string.Empty;
    }
}

<style>
    .footer-chat {
        height: 80px;
        display: flex;
        align-items: center;
        background-color: transparent;
        border-top: 2px solid #EEE;
        margin-top: auto;
    }

    .write-message {
        border: none !important;
        width: 60%;
        height: 50px;
        margin-left: 20px;
        padding: 10px;
    }

    .chat .footer-chat .send {
        color: #fff;
        background-color: #4f6ebd;
        position: absolute;
        right: 50px;
        padding: 10px 14px 10px 12px;
        border-radius: 50px;
        font-size: 12pt;
    }

    .footer-chat *::-webkit-input-placeholder {
        color: #C0C0C0;
        font-size: 13pt;
    }

    .footer-chat input *:-moz-placeholder {
        color: #C0C0C0;
        font-size: 13pt;
    }

    .footer-chat input *::-moz-placeholder {
        color: #C0C0C0;
        font-size: 13pt;
        margin-left: 5px;
    }

    .footer-chat input *:-ms-input-placeholder {
        color: #C0C0C0;
        font-size: 13pt;
    }

    .clickable {
        cursor: pointer;
    }
</style>