<section class="chat">
    <ChatHeader Name="Megan Leib" />
    <div class="messages-chat">
        <Message Text="Hi, how are you ?" />
        <Message Text="What are you doing tonight ? Want to go take a drink ?" Time="14h58" />
        <Message Text="Hey Megan ! It's been a while 😃" Response=@true />
        <Message Text="When can we meet ?" Time="15h04" Response=@true />
        <Message Text="9 pm at the bar if possible 😳" Time="15h09" />
    </div>
    <ChatFooter />
</section>

<style>
    .chat {
        width: 65%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .chat .messages-chat {
        padding: 25px 35px;
        overflow-y: auto;
    }
</style>