<section class="discussions">
    <div class="header-discussions">
        <p class="name">Dummy name</p>
    </div>
    <Ticket Name="Megan Leib" Message="9 pm at the bar if possible 😳" Timer="12 sec" Active=@true/>
    <Ticket Name="Dave Corlew" Message="Let's meet for a coffee or something today ?" Timer="3 min"/>
    <Ticket Name="Jerome Seiber" Message="I've sent you the annual report" Timer="42 min"/>
    <Ticket Name="Thomas Dbtn" Message="See you tomorrow ! 🙂" Timer="2 hour"/>
    <Ticket Name="Elsie Amador" Message="What the f**k is going on ?" Timer="1 day"/>
    <Ticket Name="Billy Southard" Message="Ahahah 😂" Timer="4 days"/>
    <Ticket Name="Paul Walker" Message="You can't see me" Timer="1 week"/>
</section>

<style>
    .discussions {
        width: 35%;
        max-height: 100vh;
        box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
        overflow-y: auto;
        display: inline-block;
    }
        .discussions .header-discussions {
            background-color: #FAFAFA;
            border-bottom: solid 1px #E0E0E0;
            border-right: solid 0.5px #E0E0E0;
            height: 90px;
            display: flex;
            align-items: center;
        }
            .discussions .header-discussions .name {
                margin: 0 0 0 20px;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-size: 13pt;
                color: #515151;
            }
</style>