<div class="header-discussions">
    <p class="name">Tickets</p>
    <span class="badge badge-info ml-auto mr-1">In queue: @QueueCount</span>
    <button type="button" class="btn btn-success mr-4" @onclick="GetNextCustomer">New</button>
</div>

@code
{
    [Parameter]
    public EventCallback GetNextCustomer { get; set; }

    [Parameter]
    public int QueueCount { get; set; }
}

<style>
    .discussions .header-discussions {
        background-color: #FAFAFA;
        border-bottom: solid 1px #E0E0E0;
        border-right: solid 0.5px #E0E0E0;
        height: 90px;
        display: flex;
        align-items: center;
    }
    .discussions .header-discussions .name {
        margin: 0 0 0 20px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 13pt;
        color: #515151;
    }
</style>