@layout CleanLayout
@page "/Chat"
@using AdminPanel.Client.Components

<div class="container app">
    <div class="row app-one">
        <div class="col-sm-4 side">
            <ChatList />
            <MessageContainer />
        </div>
        <Test />
        <MessageContainer/>
        <MessageReply />
    </div>
</div>

<style>

</style>