@using AdminPanel.Client.DTOs
<EditForm Model="@Resource" OnValidSubmit="OnValidSubmit">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Navn</label>
                <InputText id="inputRessourceName" class="form-control" placeholder="Navn" @bind-Value="Resource.Name"/>
            </div>
            <div class="form-group">
                <label>Beskrivelse</label>
                <InputTextArea class="form-control" placeholder="Beskrivelse" @bind-Value="Resource.Description"></InputTextArea>
            </div>
        </div>
    </div>
    <h3>Tidsperioder</h3>
    <p>
        <button id="addTimeslot" type="button" class="btn btn-info" @onclick="AddTimeslot"><b>+</b> Tilføj tidsperiode</button>
    </p>
    <div class="row">
        @foreach (TimeslotDTO timeslot in Resource.Timeslots)
        {
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3">
                    <div class="card-header">
                        Tidsperiode
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Fra</label>
                            <input class="form-control" type="datetime-local" id="meeting-time"
                                   name="meeting-time" value="@DateValue(DateTime.Now)"
                                   @onchange="(x => updateTime(x.Value.ToString(), timeslot ))">
                        </div>
                        <div class="form-group">
                            <label>Til</label>
                            <input class="form-control" type="datetime-local" id="meeting-time"
                                   name="meeting-time" value="@DateValue(DateTime.Now)"
                                   @onchange="(x => updateTime(x.Value.ToString(), timeslot ))">
                        </div>
                        <div class="form-group">
                            <label>Tilgængelig</label>
                            <div>
                                <InputCheckbox id="available" @bind-Value="timeslot.Recurring"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" @onclick="() => RemoveTimeslot(timeslot)">
                                <b>-</b> Fjern
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <button id="ressourceSubmit" class="btn btn-primary" type="submit">@SubmitButtonText</button>
    </div>
</EditForm>

@code {
    private TimeSpan Time;
    public string TimeProxy { get => Time.ToString(); set => TimeSpan.TryParse(value, out Time); }
    [Parameter]
    public ResourceDTO Resource { get; set; }

    [Parameter]
    public string SubmitButtonText { get; set; }

    [Parameter]
    public Action<ResourceDTO> OnEditComplete { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(DateTime.Today.ToString("o"));
    }
    public string DateValue(DateTime time)
    {
        string minvalue = DateTime.Now.ToString("o");
        minvalue = minvalue.Remove(minvalue.IndexOf(".")-3);
        Console.WriteLine(minvalue);
        return minvalue;
    }
    private void OnValidSubmit()
    {
        Console.WriteLine();
        OnEditComplete?.Invoke(Resource);
    }

    private void AddTimeslot()
    {
        Resource.Timeslots.Add(new TimeslotDTO() { });
    }

    private void RemoveTimeslot(TimeslotDTO timeslot)
    {
        Resource.Timeslots.Remove(timeslot);
    }

    private void updateTime(string x, TimeslotDTO timeslot )
    {
        if(DateTime.TryParse(x, out DateTime time))
        {
            timeslot.From = time;
        }
    }

}